<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="../assets/js/selectIMG.js"></script>
    
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="shortcut icon" href="../assets/imgs/icon.ico" type="image/x-icon">


</head>

<body>
    <header>
        <a href="/feed">
            <img class="header-logo" src="../assets/imgs/Logo.png" alt="">
        </a>
        <div class="header-nav">
            <a href="/feed">
                <ion-icon name="home-outline"></ion-icon>
            </a>
            <a href="/post">
                <ion-icon class="active" name="add-outline"></ion-icon>
            </a>
            <a href="/login">
                <ion-icon name="person-outline"></ion-icon>
            </a>
        </div>
    </header>
    <main class="post-main">
        <div class="post-group">
            <ion-icon class="post-icon" name="images-outline"></ion-icon>
            <h4>Selecione fotos aqui</h4>
            <button class="post-btn btn" id="post-btn"> Selecionar arquivo</button>
            <input type="file" class="post-input" id="post-input" accept="image/png, image/jpg, image/gif, image/jpeg">
        </div>
        <div class="post-preview-group" id="preview-group">
            <img src="#" id="post-img-preview" class="post-img-preview" alt="imagem preview">
            <input type="text" class="textbox" placeholder="Nome do projeto">
            <textarea class="post-desc textbox" name="description" placeholder="Insira a descrição do projeto"></textarea>
            <a href="/feed">
                <ion-icon id="post-check-btn" class="post-icon-preview post-check-btn"  name="checkmark-circle-outline"></ion-icon>
            </a>
            <a href="/post">
                <ion-icon id="post-cancel-btn" class="post-icon-preview post-cancel-btn" name="close-circle-outline">
                </ion-icon>
            </a>

        </div>
    </main>
    <footer>
        <a href="/feed">
            <ion-icon name="home-outline"></ion-icon>
        </a>
        <a href="/post">
            <ion-icon class="active" name="add-outline"></ion-icon>
        </a>
        <a href="/login">
            <ion-icon name="person-outline"></ion-icon>
        </a>
    </footer>
</body>

</html>
